* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: 'Steiner';
  src: url("../fonts/Steinerlight.ttf") format('truetype');
}

@font-face {
    font-family: 'Graphik';
    src: url("../fonts/graphik/Graphik-Bold.ttf") format('truetype');
  }
  